<link rel="stylesheet" href="/css/_header.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

<nav>
    <ul id="left_list">
        <li>
            <a href="#"><i class="fa-solid fa-bug"></i></a>
            <h1>Issue Tracker</h1>
        </li>
    </ul>
    <ul id="right_list">
        <li>
            <a href="/">Home</a>
        </li>
        <!-- <li>
            <a href="#">Project</a>
        </li> -->
        <!-- <li>
            <a href="/users/sign-up">Sign Up</a>
        </li>
        <li>
            <a href="/users/sign-in">Sign In</a>
        </li> -->
        <!-- <li>
            <a href="#">Sign Out</a>
        </li> -->
    </ul>
</nav>