<link rel="stylesheet" href="/css/sign_up.css">

<section id="first_page">
    <div id="left_side">
        <img src="/images/img1.jpg" alt="img">
        <h1>Issue Tracker</h1>
    </div>

    <div id="right_side">
        <h1>Welcome to <span>IssueTracker</span></h1>
        <h3>Sign Up
            <p>Please enter your information</p>
        </h3>

        <form id="signup_form" action="" method="POST">
            <input type="text" id="name" name="name" placeholder="Full Name" required>
            <input type="text" id="email" name="email" placeholder="Email" required>
            <input type="text" id="password" name="password" placeholder="Password" required>
            <input type="text" id="confirm_password" name="confirm_password" placeholder="Confirm Password" required>

            <button type="submit">Create Account</button>
        </form>

    </div>
</section>