<link rel="stylesheet" href="/css/sign_in.css">

<section id="first_page">
    <div id="left_side">
        <img src="/images/img1.jpg" alt="img">
        <h1>Issue Tracker</h1>
    </div>

    <div id="right_side">
        <h1>Welcome to <span>IssueTracker</span></h1>
        <h3>Login
            <p>Please enter your information</p>
        </h3>

        <form action="" method="POST">
        <input type="text" id="email" name="email" placeholder="Email" required>

        <input type="text" id="password" name="password" placeholder="Password" required>

        <!-- <input type="radio" name="stay_logged_in" id="stay_logged_in"> -->

        <a href="#">Forgot Password</a>

        <button type="submit">Log In</button>
        </form>

        <hr>
        <p id="or">or</p>
        <h3 id="g_sign_in">
            <img src="/images/google-logo.webp" alt="">
            <a href="">Log in with Google</a>
        </h3>

        <p id="sign_up">
            Don't have an account? 
            <a href="/users/sign-up">Sign up for free</a>
        </p>
    </div>
</section>